@charset "UTF-8";
@import "header";
@import "footer";
@import "main";
$width:1200px;
$margin:0 auto;

$background:#f5f5f5;
li{
    float: left;
    list-style: none;
}
a{
    text-decoration: none;
    cursor: pointer;
}
.layout{
    &:before{
        content: "";
        display: table;
    }
    &:after{
        content: "";
        display: table;
    }
    width: $width;
    margin: $margin;
}


